.table {
    margin: 20px;
    border-collapse: collapse;
    height: fit-content;

}

th,
td {
    cursor: pointer;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
}

tr:hover {
    background-color: #f5f5f5;
}




